@import "tailwindcss";

.small-padding {
  padding: 5.3125rem 1.6875rem 5.3125rem 1.75rem;
}
@media (min-width: 768px) {
  .large-padding {
    padding: 9.5rem 0rem 9.4375rem 0rem;
  }
}

@theme {
  --font-family-outfit: "Outfit", sans-serif;
  --color-dark-navy: #1f314f;
  --color-text-grey: #7d889e;
  --color-background-grey: #d5e1ef;
  --shadow-custom: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}
