@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

.custom-button {
  padding: 0.75rem;
  color: white;
  background-color: #333333;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 17.4375rem;
  text-align: center;
}

.custom-button:hover {
  background-color: #c4f82a;
  cursor: pointer;
  color: #333;
}

.font-extrabold a:hover {
  opacity: 0.9;
  color: #c4f82a;
  cursor: pointer;
}

.small-padding {
  padding: 7.25rem 1.5rem 2.7rem 1.5rem;
}

@media (min-width: 768px) {
  large-padding {
    padding: 10.875rem 0rem 10.9375rem 0rem;
  }
}

@theme {
  --color-custom-black: #141414;
  --color-custom-darkgrey: #1f1f1f;
  --color-custom-grey: #333333;
  --color-neon-green: #c4f82a;
}
