@import url(reset.css);

:root {
  --color-white: #fff;
  --color-secondary-white: #ecf2f8;
  --color-dark-grey: #48556a;
  --color-light-gray: #6e8098;
  --color-lighter-gray: #9daec2;
  --card-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5);

  --font-main: 'Manrope', sans-serif;
}

body {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  background-color: var(--color-secondary-white);

  @media (width <= 750px) {
    max-width: 375px;
    padding: 74px 24px 81px;
  }

  margin: auto;
  min-height: 100svh;
}

article {
  box-shadow: var(--card-shadow);
  position: relative;

  @media (width >= 750px) {
    max-width: 730px;
    display: flex;
    min-height: 280px;
  }

  & > div img {
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    max-height: 200px;
    min-height: 100%;
    min-width: 100%;
    object-position: 0 -15px;

    @media (width >= 750px) {
      object-fit: cover;
      min-width: 285px;
      object-position: 0 0;
      border-radius: 10px 0px 0px 10px;
    }
  }

  section {
    background-color: var(--color-white);
    color: var(--color-dark-grey);
    padding: 36px 32px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media (width >= 750px) {
      padding: 32px 40px;
      border-radius: 0px 10px 10px 0px;
    }

    h2 {
      margin-bottom: 16px;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.2px;

      @media (width >= 750px) {
        font-size: 1.25rem;
        line-height: 1.4;
        letter-spacing: 0.25px;
        margin-bottom: 12px;
        text-wrap: pretty;
      }
    }

    p {
      font-weight: 500;
      line-height: 1.53846;
      margin-bottom: 20px;
      letter-spacing: 0.122px;
      font-size: 0.8125rem;
      color: var(--color-light-gray);
    }
  }

  footer {
    display: flex;
    align-items: center;

    .personal-information {
      display: flex;
      align-items: center;
      gap: 16px;
      line-height: 1.53846;
      letter-spacing: 0.122px;
      font-size: 0.8125rem;
    }

    h3 {
      color: var(--color-dark-grey);
      font-weight: 700;
    }

    time {
      color: var(--color-lighter-gray);
      font-weight: 500;
    }

    img {
      max-width: 40px;
      border-radius: 50%;
    }

    button {
      background-color: inherit;
      border: none;
      margin-left: auto;
      z-index: 1;
      cursor: pointer;
      position: relative;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 21px;
      align-items: center;
      margin-left: 32px;
    }

    .social-links-container {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--color-dark-grey);
      width: 100%;
      max-height: 64px;
      border-radius: 0px 0px 10px 10px;
      height: 0;
      transition: all 0.4s ease-in-out;
      overflow: hidden;

      @media (width >= 750px) {
        position: absolute;
        top: 129px;
        left: 74%;
        width: 250px;
        border-radius: 10px;
        filter: drop-shadow(0px 10px 10px rgba(201, 213, 225, 0.5));
        max-height: 55px;
        display: flex;
        align-items: center;
      }

      p {
        font-weight: 500;
        color: var(--color-lighter-gray);
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-top: 22px;
      }

      & .social-icons {
        display: flex;
        align-items: center;
        gap: 21px;

        img {
          border-radius: revert;
        }
      }

      &.show {
        height: 100%;

        @media (width >= 750px) {
          overflow: visible;
          &::after {
            content: '';
            position: absolute;
            background-color: var(--color-dark-grey);
            bottom: -10px;
            overflow: visible;
            left: 50%;
            width: 20px;
            height: 10px;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
          }
        }
      }
    }
  }
}
