@import url(reset.css);

:root {
  --color-bg: #ecf2f8;

  --color-purple: #733fc8;
  --color-border-purple: #a775f1;
  --color-light-gray: #48556a;
  --color-dark-blue: #19202d;
  --color-white: #fff;
  --color-white-accent: #cfcfcf;

  --card-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
  --font-main: "Barlow Semi Condensed", sans-serif;
}

body {
  min-height: 100dvh;
  background-color: var(--color-bg);
  display: grid;
  place-items: center;
  margin: 0 auto;
  max-width: 90rem;
  font-family: var(--font-main);
}

.cards {
  max-width: 69.38rem;
  min-height: 35.75rem;
  display: grid;
  gap: 1.5rem 1.88rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  margin: 0 1.5rem;
  grid-template-areas:
    "c-1 c-1 c-2 c-3"
    "c-4 c-5 c-5 c-3";

  @media (min-width: 34.1875em) and (max-width: 64em) {
    grid-template-areas:
      "c-1 c-1 c-2 c-2"
      "c-3 c-3 c-3 c-3"
      "c-4 c-4 c-5 c-5";

    .card-4,
    .card-2 {
      align-self: center;
    }
  }

  @media (max-width: 34.1875em) {
    padding-top: 4.44rem;
    grid-template-columns: minmax(20.4375rem, 1fr);
    grid-template-areas:
      "c-1"
      "c-2"
      "c-4"
      "c-3"
      "c-5";
  }

  & > article {
    padding: 1.62rem 2rem;
    border-radius: 0.5rem;
  }

  .card-1 {
    grid-area: c-1;
    color: var(--color-white);
    background: var(--color-purple) url(./images/bg-pattern-quotation.svg) top
      right 17% no-repeat;

    & img {
      border: 2px solid var(--color-border-purple);
    }

    & .testimonial {
      color: var(--color-white-accent);
      @media (max-width: 34.1875em) {
        margin-right: 1rem;
      }
    }
  }

  .card-2 {
    grid-area: c-2;
    background-color: var(--color-light-gray);
    color: #fff;
  }

  .card-3 {
    grid-area: c-3;
    background-color: var(--color-white);
    color: var(--color-light-gray);
  }

  .card-4 {
    grid-area: c-4;
    background-color: #fff;
    color: var(--color-light-gray);
  }

  .card-5 {
    grid-area: c-5;
    background-color: #19202d;
    color: var(--color-white);

    & img {
      border: 2px solid var(--color-purple);
    }

    & .short-summary {
      color: var(--color-bg);
    }

    & .testimonial {
      margin-right: 0.2rem;
    }
  }

  .personal-info {
    display: flex;
    gap: 1.06rem;
  }

  & img {
    max-width: 1.75rem;
    align-self: center;
    border-radius: 1.75rem;
  }

  .card-1,
  .card-2 {
    padding: 1.62rem 2rem 2rem 2rem;
    & .testimonial {
      margin-top: 1rem;
    }
  }
}

& h2 {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 0.8125rem;
  margin-bottom: 0.2rem;
}

& h3 {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 0.6875rem;
  opacity: 0.5;
}

& .short-summary {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
  margin-top: 1.12rem;
}

& .testimonial {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.125rem;
  margin-top: 1.3rem;
  opacity: 0.7;
}

.attribution {
  position: absolute;
  text-align: center;
  font-weight: 700;
  left: 0;
  right: 0;
  margin: auto;

  & a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.5s ease;
  }

  & a:hover {
    color: var(--color-purple);
    transform: scale(1.02);
  }
}
